.App {
  font-family: sans-serif;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  position: relative;
}

.prev-button,
.next-button {
  cursor: pointer;
  font-size: 35px !important;
}

.selected-image {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.selected-image--hidden {
  display: none;
}
